<!DOCTYPE html>

<html lang="en">
  <head>
    <title>My Blog</title>
    <meta name="description" content="Awesome stuff by me" />
    <meta name="keywords" content="it,network,nieves inc"
    <style type="text/css"></style>
  </head>

  <body>
    <header id="main-header">
      <h1>My Website</h1>
    </header>

    <a href="index.html">Main Page</a>

    <section>
      <article class="post">
        <h3>Blog Post One</h3>
        <small>Posted by Johnny on July 17 </small>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt,
          cupiditate! Velit obcaecati et laboriosam expedita corrupti
          dignissimos exercitationem quae quidem optio saepe non, reiciendis hic
          id aspernatur officiis voluptatum voluptatibus.
        </p>
        <a href="post.html">read more</a>
      </article>
    </section>

    <section>
      <article class="post">
        <h3>Blog Post Two</h3>
        <small>Posted by Johnny on July 17 </small>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt,
          cupiditate! Velit obcaecati et laboriosam expedita corrupti
          dignissimos exercitationem quae quidem optio saepe non, reiciendis hic
          id aspernatur officiis voluptatum voluptatibus.
        </p>
        <a href="post.html">read more</a>
      </article>
    </section>

    <section>
      <article class="post">
        <h3>Blog Post Three</h3>
        <small>Posted by Johnny on July 17 </small>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt,
          cupiditate! Velit obcaecati et laboriosam expedita corrupti
          dignissimos exercitationem quae quidem optio saepe non, reiciendis hic
          id aspernatur officiis voluptatum voluptatibus.
        </p>
        <a href="post.html">read more</a>
      </article>
    </section>

    <aside>
      <h3>Categories</h3>
      <nav>
        <ul>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 2</a></li>
          <li><a href="#">Category 3</a></li>
        </ul>
      </nav>
    </aside>

    <footer id="main-footer">
      <p>Copyright what ever &copy;</p>
    </footer>
  </body>
</html>
